header img {
    width: 10%;
}
header {
    background-color: #c910d6;
    display: block;
    padding: 1%;
    padding-left: 5%;
}

.titulo{
    padding-left: 17.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid #ddd;
 }

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight:400;
    font-style: normal;
    color: #443d3d;
} 

.tabela_div{
    display: flex;
    justify-content: center;
}
table, td, tr{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid;
}

tr, td{
    width: 23%;
}

table{
    width: 65%;
    border-collapse: collapse;
    margin: auto;
}

.tabela_head{
    height: 20%;
    font-weight: bold;
}

.tabela_head td{
    height: 20%;
    background-color: #EEE;
}

tr:hover{
    background-color: #db00eb65
}

table .tabela_head, .tituloTabela{
    padding: 3% 0 3% 0;
}